body{

margin:0;
font-family:Arial, sans-serif;

}


.login-container{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#8e44ad,
#f39c12
);

}



.login-box{

width:350px;
background:white;
padding:35px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.3);

}



.temple-icon{

font-size:50px;
margin-bottom:10px;

}



.login-box h2{

color:#8e44ad;
margin-bottom:5px;

}



.login-box p{

color:#777;
margin-bottom:25px;

}



.login-box input{

width:90%;
padding:12px;
margin:10px;
border:1px solid #ccc;
border-radius:8px;
font-size:15px;

}



.login-box button{

width:95%;
padding:12px;
margin-top:15px;

background:#8e44ad;

color:white;

border:none;

border-radius:8px;

font-size:17px;

cursor:pointer;

}



.login-box button:hover{

background:#6c3483;

}